@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --bg-color: #ffffff;
    --text-color: #000;
    --second-color: #010005;
    --primary: #8BC53F;
    --secondary:#5D9943;
    --third: #3f7229;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
    --main-color: #5D9943;
    /* --main-color: rgb(234, 28, 28); */

}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #007bff;
}

/* wrapper section */
#login-form {
    position: relative;
    margin: auto;
    background: url('assets/img/log3.jpg') no-repeat center ;
    background-size: cover;
    min-height: 100dvh;
    /* background-position: center 20px; Adjust the position downward by 20 pixels */

}

.logo img {
    position: absolute;
    top: 20px;
    left: 50px;
    height: 40px;
    width: auto;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
 
}

.log_img {
    padding: 50px;
}

.log_img img {
    max-width: 400px;
    max-height: 600px;

    background: white;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.4);
    /* backdrop-filter: blur(2px); */
}
input::placeholder {
    font-family: 'Poppins', sans-serif;
}

/* Container for the signup form */
.container {
    width: 500px;
    max-height: 500px;
    padding: 20px;
    margin-left: auto; /* Adjusted to position the container to the right */
    margin-right: 60px;
    background-color: hsla(0, 0%, 100%, 0.6);
    border: 1px solid #ccc;
    border-radius: 15px;
    /* backdrop-filter: blur(5px); */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Form title */
h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

/* Form labels */
label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 600px;
}

/* signup success*/
.message {
    margin-top: 15px;
    padding: 10px;
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

input {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
    box-shadow: 0 0 5px rgba(63, 114, 41, 0.3);
}

input:focus {
    outline: none;
    border: 2px solid #3f7229;
}


/* Form submit button */
.btn {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: var(--secondary);
    color: #fff;
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Form submit button on hover */
.btn:hover {
    background-color: var(--third);
}

/* Form footer text */
p {
    text-align: center;
}

/* Form footer link */
a {
    color: var(--secondary);
    text-decoration: none;
}

/* Form footer link on hover */
a:hover {
    text-decoration: underline;
    color: var(--third);
}

/* back to home */
.home_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.home_btn button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    width: 200px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin: 0px;
}

.home_btn button a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

.home_btn button:hover {

    background-color: #f00;
    cursor: pointer;
}

/* Footer container */
.footer-container {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}

/* Footer bottom text */
.footer-bottom {
    margin-top: 50px;
    padding: 10px;
}

.error-message {
    font-size: 14px;
    margin-bottom: 5px;
    color: rgb(182, 35, 35);
}

#hideclose,
#Chideclose {
    display: none;
}

.toggle-password {
    position: relative;
}

.toggle-password i {
    position: absolute;
    right: 10px;
    top: 50%;
}
/* signup */
.toggle-password1 {
    position: relative;
}

.toggle-password1 i {
    position: absolute;
    right: 10px;
    top: 65%;
}

/* navbar */