/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root{
     --primary: #8BC53F;
    --secondary:#5D9943;
    --third: #3f7229;
    --text: #333;
    --hue: 152;
    --box-shadow:0 .2rem 1rem rgba(0,0,0.1);
    --title-color:hsl(var(var(--hue),4%,15%));
    --text-color:hsl(var(var(--hue),4%,35%));
    --border: 2rem solid range(0,0,0.1);
    --outline: 2rem solid range(0,0,0.1);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
body{
    background: #eee;
}

/* .container {
    margin: 0 auto;
    max-width: 1100px;
} */
.heading{
    /* display: flex; */
    text-align: center;
    padding: 50px 0;
    padding-bottom: 2rem;
    font-size: 3.5rem;
    color: var(--third);
}
.p{
    color: var(--text);
    font-size: 13px;
}
/* home section */
.btn{
    border: none; 
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    /* font-weight: ; */
    border-radius: .5rem;
    color:#eee;
    text-decoration: none;
    cursor:pointer;
    background: #708d4b;
}
.btn:hover{
    color: #fff;
    background: #3f7229;
    transition: .2s;
}
nav{
    height: 70px;
    background: #fff;
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding: 0px 50px;
    box-shadow: var(--box-shadow);
    position: static; /* Fix the navigation bar at the top */
    width: 100%; /* Take up the full width of the viewport */
    z-index: 1000; /* Ensure the navigation bar appears above other content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8); /* Add shadow for box effect */
    transition: all 300ms ease-in;
}

@keyframes animateNav {
    from {transform: translateY(-100px); opacity: 0;}
    to {opacity: translateY(0); opacity: 1;}
}
.stick-nav {
    position: sticky;
    top: 0;
    right: 0;
    /* transition: all 1000ms ease-in; */
    animation-name: animateNav;
    animation-duration: .4s;
    animation-timing-function: ease-in-out;
}


.logo img {
    width: auto;
    height: 40px;
}
nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: var(--primary);
    font-size: 19px;
    font-weight: 650;
    letter-spacing: 1px;
    padding:8px 10px;
    /* border-radius: 5px; */
    text-decoration: none;
    transition: all 0.3s ease;
}
/* nav ul li a.active */
nav ul li a:hover
{
    color: var(--secondary);
    background: #fff;
    text-decoration: underline;
    transition: all 0.3s ease;
}
nav ul li.active a
{
    color: var(--secondary);
    background: #fff;
    text-decoration: underline;
    transition: all 0.3s ease;
}

nav .menu-btn i{
    color: var(--primary);
    font-size: 22px;
    cursor: pointer;
    display: none;
}

#click{
    display: none;
}

nav .icons div{
    border:0px solid;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    background: #eee;
    color: black;
    font-size: 15px;
    margin-right: .3rem;
    text-align: center;
    cursor: pointer ;
}

nav .icons div:hover{
    background: var(--secondary);
    color:#fff;
}

nav .search-form{
    border: none;
    position: absolute;
    top:80px; 
    right: -100%;
    width: 30rem;
    height: 3rem;
    background: #fff;
    border-radius: .4rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow); 
}
nav .search-form.active{
    right: 1rem;
    transition: .4s linear;
}

nav .search-form input{
    border: none;
    outline: none;
    height:  100%;
    width: 100%;
    background: none;
    text-transform:none;
    padding: 0 1rem;
}
nav .search-form label{
    font-size: 1.5rem;
    padding-right: 1rem;
    color:black;
    cursor: pointer;
}
nav .search-form label:hover{
    color: var(--secondary);
}

.home{
    background: url(assets/img/1home.jpg) no-repeat;
    
    background-position: 50% 60%;
    background-size: cover;
}

.overlay {
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    padding: 8rem 9%;
    background-color: rgba(0,0,0, 0.5);
}
.home .content{
    width: 60rem;
    padding: 2rem 0;
    text-align: center;
    word-break: keep-all;
    word-wrap: break-word;
}
.home .content h3{
    color: white;
    /* #346121 */
    font-size: 3rem;
}
.home .content span{
    color: #708d4b;
}
.home .content p{
    color: hsl(0, 0%, 65%);
    font-size: 1.7rem;
    font-weight: bold;
    padding: 1rem 0;
    line-height: 1.8;
}
  /* category section */
.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust the minimum and maximum width of each box */
    gap: 20px; /* Adjust the gap between the boxes */
    padding: 0px 25px;
    /* border: 2px solid red; */
}

.box {
    background-color: #fff; /* Adjust background color if needed */
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for box effect */
}

.box:hover {
    /* box-shadow: 0 8px 16px 4px var(--third); Adjust shadow effect on hover box-shadow: x y blur spread color */
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.3); /* Add shadow for box effect */
    transform: translateY(-10px); /* Lift the box slightly on hover */
    transition: .3s;
}

.box img {
    width: 100%; /* Ensure the image takes up the full width of its container */
    height: 200px; /* Set a fixed height for consistency */
    object-fit: cover;
    border-radius: 8px; /* Rounded corners for images */
}

.content-box {
    margin-top: 10px;
}

h3 {
    margin: 0;
    font-weight: 500;
    font-size: 2rem;
}
 /* step section  */
.step_section_title {
    text-align: center;
    padding: 50px 0;
    font-size: 3.5rem;
    color: var(--third);
}

.steps_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0px 25px;
}

.step_card {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.step_number {
    font-size: 4rem;
    color: var(--secondary);
    /* align-items: center; */
}
 .step_card:hover .step_number i {
    font-size: 4.2rem; /* Increase the font size */
    transition: font-size 0.3s ease; /* Add a smooth transition effect */
    color: var(--third);
}

.step_card:hover .step_number {
    transform: scale(1.2); /* Scale the .step_number container */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.step_title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.step_description {
    font-size: 1.5rem;
}

/* product section */
.productPage-hover a{
    color: var(--secondary);
    background: #fff;
    text-decoration: underline;
    transition: all 0.3s ease;
}
 .product {
        display: flex;
        min-height:100dvh;
    }
.product-list {
    box-shadow: 5px 0 10px -5px rgba(0, 0, 0, 0.6), /* Right side shadow */
               -5px 0 10px -5px rgba(0, 0, 0, 0.6);  /*Left side shadow */
}

.product-list ul {
        list-style: none;
        width:20rem;
        /* background: hsl(0, 23%, 84%); */
        padding: 2rem 0; /* Remove padding to avoid extra spacing */
        margin: 0;
    }
    
.product-list ul li {
        margin-bottom: 10px; /* Adjust margin between list items */
    }
    
.product-list ul li a {
        text-decoration: none;
        color: #3c3737;
        font-weight: 600;
        font-size: 15px;
        /* color: #333; */
        text-align: center;
        display: block; /* Change to block to fill the full width */
        padding: 10px 15px;
        background-color: #f9f9f9; /* Background color for list items */
        /* border-radius: 5px; */
        transition: background-color 0.3s ease;
    }
    
.product-list  ul li a:hover {
        background-color: var(--third);
        color: white; /* Background color change on hover */
    }
    .product-link.active {
        background-color: var(--third); /* Change to your desired background color */
        color: white; /* Change to your desired font color */

    }
       
.product-list ul li a .nav-item {
        font-size: 16px;
    }
    
    /* Styles for the message */
.no-plants-message {
    text-align: center; /* Center the text */
    font-size: 18px; /* Adjust the font size */
    color: #333; /* Set the text color */
    width: 100%; /* Ensure the message spans the entire width of the container */
    margin-top: 20px; /* Add some space between the message and the products */
}

/* Update the product-item container to be a flex container */
.product-item {
    display: flex;
    flex-grow: 1;
    padding: 2rem;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Center the products horizontally */
    height: max-content;
}

    
.product-item .box {
        width: calc(25.25% - 20px); /* Adjust the width of the product box */
        /* Subtracting 20px for the gap between boxes */
        background-color: #f9f9f9; /* Background color for product boxes */
        border-radius: 5px; /* Add rounded corners */
        padding: 20px; /* Add padding */
        box-sizing: border-box; /* Ensure padding is included in the width */
    }
    
.product-item img {
        width: 100%; /* Ensure the image takes up the full width of its container */
        height: 100px; /* Set a fixed height for consistency */
        object-fit: cover;
        border-radius: 8px; /* Rounded corners for images */
    }

/* .product-item h3 {
        margin-bottom: 5px;
        font-size: 18px;
    } */
    
.product-item .price {
        font-weight: bold;
        color: #333;
    }
    
/* Contact */
.contact_container{
    padding: 3rem 10rem;
    /* row-gap: 3.5rem; */
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 2rem;
    
} 
.contact_data{
    display: grid;
    row-gap: 2rem;
}
.contact_title{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;

}
.contact_subtitle{
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1rem;
}
.contact_description{
    display: inline-flex;
    align-items: center;
    column-gap:  .5rem;
    font-weight: 500;
}
.contact_icon{
    font-size: 1.25rem;
}
.contact_inputs{
    display:grid;
    row-gap: 2rem;
    margin-bottom:2.5rem;
}
.contact_content{
    position:relative;
    height: 3rem;
    border-bottom: 1ps solid #eee;
}

.contact_input {
    height: 100%;
    width: 100%;
    padding: 1rem; /* Adjust padding as needed */
    border: none;
    outline: none; /*Add border for input fields */
    border-radius: 4px; /* Add border-radius for input fields */
    z-index: 1;
    transition: border-color 0.3s ease; /* Add transition for input focus effect */
}
 .contact_label{
    font-size: 1.5rem;

}

.contact_area{
    height: 8rem;
}
.contact_area textarea{
    resize: none;
}  
.contact .btn{
 align-items: center;
}

/* footer section */
.footer{
    background: #fff;
}
.footer_container {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr)); /* Adjust column width as needed */
    gap: 1.5rem;
     justify-items: center; 
     padding: 2rem 10rem; 
    /* border: 2px solid green; */
}
.footer_container ul{
    list-style: none;
}

.footer_logo {
    grid-column: 1 / 3;
    justify-self: start;
}
.footer_logo img{
    width: auto;
    height: 30px;
}
.footer_logo p{
    font-size: 1.2rem;
    color:#333;
}
.footer_social{
    display: inline-flex;
    column-gap: .75rem;
}
.footer_social-link{
    font-size: 2rem;
    color: var(--text);
    transition: .3s;
    height: 3rem;
    width: 3rem;
    border-radius: .5rem;
    /* margin-left: .2rem; */
    background: #eee;
    text-align: center;
}
.footer_social-link:hover{
    background: var(--third);
    color: white;
    transform: translateY(-.25rem);
}
.footer_title{
    color: var(--secondary);
}
.footer_data{
    display: grid;
    row-gap: .75rem;

}
.footer_info{
    font-size: 1.5rem;
    color: var(--text);
}
.footer_info a{
    text-decoration: none;
    color: var(--text);
}
.footer_info:hover{
    color:#3f7229;
    transition: .3s all ease-in-out;
    transform: translateX(.5rem);
}
.footer_info a:hover{
    color:#3f7229;
}
.footer_copy {
    margin-top: 2rem;
    font-size: 1.3rem;
    padding: .5rem;
    color: var(--text);
    width: max-content;
    grid-column: 1 / -1;
    /* border: 2px solid red; */
    /* position: absolute; /* Position the copy text absolutely */
    /*bottom: 1rem; /* Adjust the distance from the bottom as needed */
    /*left: 50%; /* Align the copy text in the center horizontally */
    /* transform: translateX(-50%); /* Center the text horizontally */
    /* text-align: center; */
}

 /* product page css */
 /* CSS for Categories Dropdown */
.dropdown1 {
    position: relative;
    display: inline-block;
}

.dropdown1-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown1-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown1-content a:hover {
    background-color: #f1f1f1;
}

.dropdown1:hover .dropdown1-content {
    display: block;
}

@media(max-width:940px){
    .overlay{
        padding: 2rem ;
    }
    .logo img {
        height: 32px;
    }
    nav .menu-btn i{
        display: block;
    }
    #click:checked ~ .menu-btn i:before{
        content: "\f00d";
    }
    nav ul{
        position: fixed;
        top: 80px;
        left:-100%;
        background: #fff;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }
    #click:checked ~ ul{
        left: 0%;

    }
    nav ul li{
        margin: 40px 0;
    }
    nav ul li a{
        font-size: 20px;
        display: block;
    }

    nav ul li a:hover,
    nav ul li a.active{
    color: rgb(13, 121, 54);
    background: none;
}
}