@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

/* root variable */
:root {
    --bg-color: #ffffff;
    --text-color: #5D9943;
    --second-color: #a09dab;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
    --primary: #8BC53F;
    --secondary:#5D9943;
    --third: #3f7229;
    /* --main-color: rgb(234, 28, 28); */

}


body {
    background: var(--bg-color);
}

.container {
    display: flex;

}
.main-top{
   color: var(--secondary);
}
nav {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: var(--bg-color);
    min-width: 262px;
    overflow: auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    min-height: 100vh;
    line-height: 2rem;
    font-weight: bold;
    color:var(--secondary);

    /* making sticky */
}

.logo {
    text-align: center;
    display: flex;
    margin: 50px 0 0 60px;
    width: auto;
}

.logo img {
    position: absolute;
    top: 20px;
    left: 50px;
    height: 40px;
    width: auto;
}

.logo span {
    color:var(--secondary);
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

a {
    position: relative;
    color: var(--text-color);
    font-size: 14px;
    display: table;
    width: 220px;
    padding: 7px;
    margin: 10px 20px;
    transition: all .3s;

}

.container nav a:hover,
a.active {
    transform: translateY(-5px);
    box-shadow: 0.5px 0.5px 7.5px 0px rgba(23, 133, 23, 0.7);
    border-radius: 25px;
    font-weight: bold;
    color: var(--third);

}



nav.fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item {
    position: relative;
    top: 0px;
    margin-left: 20px;
    font-size: 20px;
}


.logout {
    position: absolute;
    bottom: 10px;
}



/* main section started */


.main {
    position: relative;
    margin-left: 0;
    width: 100%;



}

.main-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--main-color);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
    height: 75px;
    color: var(--primary);


    position: relative;


}

.main-top h1 {
    text-align: right;
}

/* notification section */
.bell {
    display: flex;
    position: absolute;
    right: 200px;
    font-size: 25px;
}

.dropdown {
    /* position: relative;
    display: inline-block; */
    position: absolute;
    right: 0;
    margin: 10px 10px;
    color: var(--secondary);
    cursor: pointer;
    font-size: 25px;
}

.dropbtn {
    background-color: transparent;
    color: var(--primary);
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    color: var(--secondary);
    min-width: 40px;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    z-index: 1;
    right: 0;
    background: var(--third);
    border-radius: 15px;
}

.dropdown-content a {
    color: #eee;
    padding: 10px 8px;
    text-decoration: none;
    display: block;
    width: 100px;
    text-align: center;
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
    line-height: 5px;
    transition: ease .20s;
}

.dropdown-content a:hover {
    /* background-color: #f1f1f1; */
    transform: scale(1.2);


}

.dropdown:hover .dropdown-content {
    display: block;
}
 /* submenu sub categories */
.dropdown1-content {
    display: none;
}

.dropdown1-content.show {
    display: block;
}




/* donate blood form css */
.donate-blood {
    max-width: 400px;
    max-height: auto;
    margin: 10px auto;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); */
    box-shadow: 0 2px 5px rgba(197, 10, 10, 0.1);

}


/* Container for the donor form */
.wrapper {
    max-width: 800px;
    max-height: auto;
    margin: 10px auto;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    /* box-shadow: 0px 0px 5px rgba(147, 1, 1, 0.2); */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* input for form */
.request-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.group {
    margin-bottom: 20px;
    margin-right: 50px;
    text-align: left;
    flex: 0 0 calc(50% - 10px);
    margin: 5px;
    padding: 0px;
}

.message {
    grid-column: 1/-1;
}

#message {
    width: 50%;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    font-size: 15px;
}

/* Form title */
h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    position: sticky;
}

/* Form labels */
label {
    display: flex;
    font-size: 18px;
    margin: auto;
    font-weight: 600;
}

/* gender and blood group in one row */
.gender {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gender label {
    flex: 1;
    margin-right: 10px;
}

.gender select {
    flex: 2;
    margin-right: 10px;
}

/* btn section */

/* Added styles for button container */
.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    grid-column: 1/-1;

}



.btn {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color: #ff2d2d;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Form submit button on hover */
.btn:hover {
    background-color: #f00;
}

.btn-container {
    width: 100%;
    text-align: center;

}



/* blood stock section */

.blood_type {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: auto;
    height: auto;
}

.blood_type .card {
    flex-direction: wrap;
    width: 25%;
    margin: 25px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    transition: ease.50s;
    cursor: pointer;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.blood_type .card:hover {
    background: #ffffff;
    /* box-shadow: 18px 0px 87px 0px rgba(118, 22, 22, 0.7); */

    box-shadow: 0.5px 0.5px 7.5px 0px rgba(219, 6, 6, 0.7);

    border-radius: 12px;
    transform: scale(1.1);
}

.blood_type .card h3 {
    width: auto;
    margin: 10px;
    text-transform: capitalize;
    box-sizing: border-box;
    overflow: auto;
}

.blood_type p {
    font-size: 20px;
}

.blood_type.card button {
    background: orangered;
    color: #fff;
    padding: 7px 15px;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}

.blood_type .card button:hover {
    background-color: rgb(322, 145, 33, 355);
}

.blood_type.card i {
    font-size: 32px;
    padding: 10px;
}

/* error message */
.error-message {
    font-size: 14px;
    margin-bottom: 5px;
    color: rgb(182, 35, 35);
}

/* history for donar and requester */

/* donor list table */
.user-history {
    background-color: #fffb;
    border-radius: 6px;
    overflow: auto;
    margin: 15px;
    text-align: center;
}

.donate-history {
    background: var(--bg-color);
    margin: 50px;
}

.request-history {
    background: var(--bg-color);
    margin: 50px;
}



table,
th,
td {
    padding: .5rem;
    border-collapse: collapse;
    border: 2px solid #CF1217;
    text-align: center;
    font-weight: bold;

}


main.table {
    width: auto;
    height: auto;

    backdrop-filter: blur(45px);
    box-shadow: 0 .4rem .8rem rgb(95, 23, 23);
    border-radius: 1rem;
    overflow: hidden;
}

.table_header {
    width: 100%;
    height: 5%;
    background-color: var(--bg-color);
    padding: .8rem 1rem;
    text-align: center;
}

.table_body {
    width: 95%;
    max-height: 89%;
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: 6px;
    overflow: auto;
}

table {
    width: 100%;

}

/* 
.user-img {
    margin: 5px;
} */
td img {
    width: 45px;
    height: 45px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr:hover {
    background-color: #fff6;
}

/*swal error button*/
.swal-btn-red {
    background-color: red;
    /* Set the background color to red */
    color: white;
    /* Set the text color to white */
    padding: 10px 20px;
    /* Adjust the padding to increase button size */
    font-size: 18px;
    /* Adjust the font size to increase button size */
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(255, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

.swal-btn-red:hover {
    background-color: rgba(219, 33, 33, 0.877) !important;
}